<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<nav><a href="author">Autor</a></nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <footer>
	<a href="https://github.com/KshanaRules">Proyectos Github</a>
  </footer>
  </body>
</html>
